.header{
    background: rgb(143, 212, 233);

    &__navegation{
        display: flex;
        justify-content: center;
        align-items: center;
        &__titulo{
            color: fuchsia;
        }
        &__link{
            text-decoration: none;
            text-align: center;
            color:fuchsia;
        }

    }
}

.menu{
      
    &__navegation{
        
        &__seccion{
            display: flex;
            flex-direction: row;
        }
        &__titulo{
            color:fuchsia;
        }
        &__summary{
            list-style: none;
        
        }
        &__titulo2{
            color: fuchsia;
        }
        &__parrafo{
            text-align: center;
            background: blue;
            width: 100%;
            margin-left:2%;
            color: aliceblue;
        }
        &__caja{
          margin-left: 2%;
          
        }
    }
}


